doctype html
html
  head
    title TicTacToe - Assignment 1
    meta(charset="utf-8")
    style
      include ../src/style.css

  body
    div(id="board")
    script(src='src/index.js') 

